.nav__link {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase; }

.slider__text {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%; }

@font-face {
  font-family: "Open sans";
  src: url("../fonts/OpenSans-Regular.ttf") format("ttf");
  font-weight: 400; }

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.ttf") format("ttf");
  font-weight: bold; }

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.ttf") format("ttf");
  font-weight: 500; }

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.ttf") format("ttf");
  font-weight: 600; }

h1 {
  color: #fff; }

body,
ul,
li,
a,
h1,
h2,
h4,
p {
  margin: 0;
  padding: 0; }

button:hover {
  cursor: pointer; }

.header {
  padding-left: 228px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  position: relative;
  height: 800px;
  width: 100%;
  border-radius: 0 0 30px 30px;
  background-color: #2c2c2c;
  margin-bottom: 148px; }

@media screen and (max-width: 1300px) {
  .header {
    padding-left: 60px; } }

@media screen and (max-width: 1100px) {
  .header {
    height: calc(800px + 200px);
    padding-left: 160px; } }

@media screen and (max-width: 550px) {
  .header {
    height: 800px;
    padding-left: 20px; } }

.nav {
  padding-top: 39px; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    white-space: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    list-style: none; }
  .nav__item {
    margin-right: 44px;
    padding: 10px;
    border-radius: 30px;
    -webkit-transition: background-color 0.3s, -webkit-transform 0.5s;
    transition: background-color 0.3s, -webkit-transform 0.5s;
    transition: transform 0.5s, background-color 0.3s;
    transition: transform 0.5s, background-color 0.3s, -webkit-transform 0.5s; }
    .nav__item:last-child {
      margin-left: 240px;
      margin-right: 150px; }
    .nav__item:hover {
      cursor: pointer;
      background-color: rgba(22, 22, 22, 0.5); }
  .nav__link {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    color: #fff;
    text-decoration: none; }
  .nav__toggler {
    display: none;
    position: absolute;
    top: 40px;
    left: 20px;
    width: 40px;
    height: 40px;
    opacity: 0;
    z-index: 2; }

@media screen and (max-width: 1300px) {
  .nav__item:last-child {
    margin-left: 50px;
    margin-right: 0; } }

@media screen and (max-width: 1100px) {
  .nav {
    width: 300px;
    height: auto;
    position: absolute;
    z-index: 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    opacity: 0.9; }
    .nav__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      position: absolute;
      left: -180px;
      top: 32px; }
    .nav__item {
      position: relative;
      left: -500px;
      margin: 0 0 10px; }
      .nav__item:first-child {
        display: inline-block;
        left: 0; }
      .nav__item:last-child {
        margin-left: 0; }
    .nav__toggler {
      display: block;
      top: 40px;
      left: 10px; }
      .nav__toggler:checked ~ .hamburger .hamburger__layout {
        opacity: 1;
        -webkit-transform: rotate(45deg) translate(-2px, -1px);
                transform: rotate(45deg) translate(-2px, -1px); }
      .nav__toggler:checked ~ .hamburger .hamburger__layout:nth-last-child(2) {
        opacity: 0;
        -webkit-transform: rotate(0deg) scale(0.2, 0.2);
                transform: rotate(0deg) scale(0.2, 0.2); }
      .nav__toggler:checked ~ .hamburger .hamburger__layout:nth-last-child(1) {
        opacity: 1;
        -webkit-transform: rotate(-45deg) translate(0, -1px);
                transform: rotate(-45deg) translate(0, -1px); }
      .nav__toggler:checked ~ .nav .nav__list .nav__item:not(:first-child) {
        display: block;
        position: relative;
        -webkit-transform: translateX(500px);
                transform: translateX(500px); }
      .nav__toggler:checked ~ .slider {
        -webkit-transform: translateX(50vw);
                transform: translateX(50vw); }
      .nav__toggler:checked ~ .promo {
        -webkit-transform: translateX(50vw);
                transform: translateX(50vw); }
    .nav__hamburger {
      display: block; } }

@media screen and (max-width: 550px) {
  .nav__list {
    left: -280px; }
  .nav__item:first-child {
    left: 220px; }
  .nav__toggler {
    display: block;
    left: 8px; }
    .nav__toggler:checked ~ .nav .nav__list .nav__item:not(:first-child) {
      -webkit-transform: translateX(720px);
              transform: translateX(720px); }
    .nav__toggler:checked ~ .slider {
      -webkit-transform: translateX(70vw);
              transform: translateX(70vw); }
    .nav__toggler:checked ~ .promo {
      -webkit-transform: translateX(70vw);
              transform: translateX(70vw); } }

.slider {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 687px;
  height: 680px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  background-image: url(../images/slider/slider1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .slider__intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 360px;
    height: 68px;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 48px; }
  .slider__button {
    width: 32px;
    height: 32px;
    margin-right: 8px; }
    .slider__button:hover {
      background-color: #ecec0c; }
    .slider__button:first-child {
      background-image: url(../images/slider/arrow-left.svg);
      background-size: 20%; }
    .slider__button:nth-child(2) {
      background-image: url(../images/slider/arrow-right.svg);
      background-size: 20%; }
  .slider__text {
    display: block;
    padding-left: 16px;
    color: #fff; }
    .slider__text p:first-child {
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 13px;
      line-height: 19px;
      letter-spacing: 3px;
      text-transform: uppercase;
      padding-bottom: 8px; }

@media screen and (max-width: 1100px) {
  .slider {
    width: 100%;
    height: calc(680px / 1.5);
    top: 100px;
    left: 0;
    z-index: 0; }
    .slider__intro {
      left: 30%; } }

@media screen and (max-width: 550px) {
  .slider {
    width: 100%;
    height: 280px;
    top: 100px;
    left: 0;
    z-index: 0; }
    .slider__intro {
      padding: 8px;
      left: 50%;
      -webkit-transform: translate(-10%);
              transform: translate(-10%); }
    .slider__text {
      display: none; } }

.promo {
  width: 490px;
  height: 355px;
  padding-top: 164px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s; }
  .promo__heading {
    margin-bottom: 32px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 68px;
    letter-spacing: -2px;
    color: #fff; }
  .promo__text {
    margin-bottom: 83px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #fff; }
  .promo__button {
    width: 226px;
    height: 50px;
    background-color: #2060f6;
    border-radius: 8px;
    color: #fff;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    border-style: none;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s; }
    .promo__button:hover {
      background-color: rgba(48, 144, 255, 0.5); }

@media screen and (max-width: 1100px) {
  .promo {
    padding-top: 580px; } }

@media screen and (max-width: 550px) {
  .promo {
    margin: 0 auto;
    width: 280px;
    padding-top: 400px; }
    .promo__heading {
      font-size: 48px; }
    .promo__text {
      font-size: 16px; } }

.hamburger {
  display: none;
  position: absolute;
  top: 48px;
  left: 20px; }
  .hamburger__layout {
    width: 33px;
    display: block;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background-color: #eee;
    border-radius: 3px;
    z-index: 1;
    -webkit-transform-origin: 4px 4px;
            transform-origin: 4px 4px;
    -webkit-transition: background-color 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: background-color 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background-color 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background-color 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }
  .hamburger__layout:first-child {
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%; }
  .hamburger__layout:nth-child(2) {
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%; }

@media screen and (max-width: 1100px) {
  .hamburger {
    display: block; } }

.section {
  margin-bottom: 148px;
  position: relative; }

.section.section-up {
  top: -236px; }

.introduction {
  width: 754px;
  margin: 0 auto; }
  .introduction__heading {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%; }
  .introduction__text {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #6c788b; }

@media screen and (max-width: calc(754px + 40px)) {
  .introduction {
    width: calc(100% - 40px);
    margin: 0 20px; } }

.expertise__container {
  display: grid;
  grid-template-columns: 264px 264px 264px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-self: center;
  -webkit-column-gap: 177px;
     -moz-column-gap: 177px;
          column-gap: 177px; }

.expertise__heading {
  margin-bottom: 64px;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: 150%; }

@media screen and (max-width: calc((264px * 3) + (177px * 2) + 40px)) {
  .expertise__container {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px; } }

@media screen and (max-width: calc((264px * 3) + (20px * 2) + 40px)) {
  .expertise__container {
    grid-template-columns: 264px;
    row-gap: 20px; } }

.process {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .process__container {
    margin-left: 227px;
    width: 362px; }
  .process__small-heading {
    margin: 103px 0 16px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #c0cdd7; }
  .process__heading {
    margin-bottom: 24px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    color: #253757; }
  .process__text {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #6c788b; }

@media screen and (max-width: 1350px) {
  .process__container {
    margin-left: 60px; } }

@media screen and (max-width: 1000px) {
  .process {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .process__container {
      margin: 0 auto 120px;
      width: 362px; }
    .process__small-heading {
      margin-top: 0; } }

@media screen and (max-width: 450px) {
  .process__container {
    padding: 0 10px;
    margin: 0 auto 120px;
    width: 270px; } }

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 264px;
  height: 334px; }
  .card__image {
    margin: 0 auto;
    margin-bottom: 40px;
    border-radius: 20px; }
  .card__heading {
    margin-bottom: 16px;
    text-align: center;
    color: #253757;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%; }
  .card__text {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #6c788b; }

.post {
  display: grid;
  grid-template-columns: repeat(auto-fill, 264px);
  grid-template-rows: 132px 132px 132px;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 15px;
  max-width: calc(264px * 2 + 30px);
  margin-left: 226px; }
  .post > :nth-child(1) {
    grid-column: 1/3;
    grid-row: 2/4; }
  .post > :nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/2; }
  .post > :nth-child(3) {
    grid-column: 1/3;
    grid-row: 4/6; }
  .post > :nth-child(4) {
    grid-column: 2/3;
    grid-row: 3/5; }
  .post__block {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 264px;
    height: 264px;
    padding: 32px;
    border-radius: 16px;
    z-index: 1;
    background-color: #fff; }
  .post__heading {
    margin: 2px 0 26px 12px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    color: #2060f6; }
  .post__text {
    margin-bottom: 32px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    color: #6c788b; }
  .post__button-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .post__button {
    background-image: url(../images/arrow-right.png);
    background-color: #2060f6; }
    .post__button:hover {
      background-color: #0cb8ec; }
  .post__button-text {
    margin-left: 16px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #334563; }

@media screen and (max-width: 1350px) {
  .post {
    margin-left: 20px; } }

@media screen and (max-width: 1000px) {
  .post {
    margin: 0 auto; } }

@media screen and (max-width: 680px) {
  .post {
    grid-template-columns: 264px;
    grid-template-rows: 264px 264px 264px 264px;
    row-gap: 30px;
    -webkit-column-gap: unset;
       -moz-column-gap: unset;
            column-gap: unset; }
    .post > :nth-child(1) {
      grid-column: 1/3;
      grid-row: 1/2; }
    .post > :nth-child(2) {
      grid-column: 1/3;
      grid-row: 2/3; }
    .post > :nth-child(3) {
      grid-column: 1/3;
      grid-row: 3/4; }
    .post > :nth-child(4) {
      grid-column: 1/3;
      grid-row: 4/5; } }

.btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-style: none;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  background-repeat: no-repeat;
  background-position: center; }

.approach {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  width: 92.5%;
  left: 7.5%;
  background-color: #2c2c2c;
  padding: 204px;
  border-radius: 30px 0 0 30px;
  overflow: hidden; }
  .approach__container {
    width: 370px; }
  .approach__small-heading {
    margin-bottom: 16px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #fff; }
  .approach__heading {
    margin-bottom: 32px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    color: #fff; }
  .approach__img {
    display: inline-block;
    width: 64px;
    height: 64px;
    margin-right: 34px;
    background-color: #fff;
    border-radius: 50%; }
  .approach__img-text {
    display: inline-block;
    width: 264px;
    margin-bottom: 64px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 150%;
    color: #fff; }
  .approach__big-img {
    position: absolute;
    bottom: 0;
    right: 0; }

@media screen and (max-width: 1450px) {
  .approach {
    padding-left: 60px; } }

@media screen and (max-width: 1250px) {
  .approach {
    padding: 204px 0 40px; }
    .approach__container {
      margin: 0 auto; }
    .approach__img-container {
      width: 687px;
      height: 680px;
      margin: 0 auto; }
    .approach__big-img {
      margin: 0 auto;
      position: static;
      border-radius: 30px; } }

@media screen and (max-width: 800px) {
  .approach__img-container {
    width: 280px;
    height: 280px;
    margin: 0 auto; }
  .approach__big-img {
    width: 280px;
    height: 280px; } }

@media screen and (max-width: 440px) {
  .approach {
    padding: 204px 10px 40px; }
    .approach__container {
      width: 100%; }
    .approach__img {
      margin: 0 auto 16px;
      display: block;
      width: 48px;
      height: 48px; }
    .approach__img-text {
      margin: 0 auto;
      text-align: center;
      display: block;
      width: 240px;
      margin-bottom: 32px; } }

.testimonials {
  width: 1146px;
  margin: 0 auto;
  position: relative; }
  .testimonials__small-heading {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #c0cdd7; }
  .testimonials__heading {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    color: #253757; }
  .testimonials__persons-area {
    display: grid;
    grid-template-columns: repeat(3, 314px);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

@media screen and (max-width: 1200px) {
  .testimonials {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 80px;
    width: 100%; }
    .testimonials__persons-area {
      display: grid;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }

@media screen and (max-width: 960px) {
  .testimonials__persons-area {
    display: grid;
    grid-template-columns: 314px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }

.person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 0 32px 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 16px; }
  .person__left-img {
    position: absolute;
    left: 50px;
    top: 36px; }
  .person__rigth-img {
    position: absolute;
    right: 50px;
    top: 130px; }
  .person__img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 140px;
    height: 140px;
    z-index: 1;
    border-radius: 50%;
    margin: 87px auto 82px; }
  .person__under-img {
    margin: 0 auto 11px; }
  .person__text {
    margin: 0 auto 16px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    color: #6c788b; }
  .person__name {
    margin: 0 auto 4px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    color: #253757; }
  .person__position {
    margin: 0 auto;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #c0cdd7; }

.person--first-color svg * {
  fill: #6fd4f4; }

.person--second-color svg * {
  fill: #fccc2b; }

.person--third-color svg * {
  fill: #f47070; }

.apply {
  position: relative;
  height: auto;
  overflow: hidden;
  top: -148px; }
  .apply__block {
    margin: 0 auto;
    height: 550px;
    padding-top: 199px; }
  .apply::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: -50%;
    width: 1600px;
    font-size: 10px;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-image: url("/images/rectangle.svg"), url("/images/rectangle.svg"), url("images/rectangle.svg"), url("images/rectangle.svg"), url(../images/rectangle.svg), url(../images/rectangle.svg), url(/images/rectangle.svg), url(/images/rectangle.svg), url(images/rectangle.svg), url(images/rectangle.svg), url("../images/rectangle.svg"), url("../images/rectangle.svg");
    background-repeat: no-repeat;
    background-position: left 80px top 370px, left 130px top 520px, left 230px top 70px, left 270px top 280px, left 450px top 80px, left 480px top 460px, right 550px top 510px, right 310px top 380px, right 210px top 130px, right 140px top 410px, right 110px top 110px, right 70px top 270px;
    background-size: 6em, 9em, 8em, 14em, 4em, 4em, 4em, 8em, 14em, 15em, 5em, 8em; }
  .apply__heading {
    margin-bottom: 24px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 150%;
    text-align: center;
    color: #253757; }
  .apply__text {
    margin-bottom: 64px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: #6c788b; }
  .apply__button {
    display: block;
    width: 226px;
    height: 56px;
    margin: 0 auto;
    border-style: none;
    border-radius: 8px;
    background-color: #2060f6;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #fff; }

body {
  background: #eee; }

/*# sourceMappingURL=main.css.map */
